body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.orange {
  color: #fd9222;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* #region header */
.header-page {
}
.nav-item-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-icon {
  margin-left: 4px;
}

.nav-page {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 90px;
}
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
  display: inline-flex;
  align-items: center;
}
.icon-list {
  display: flex;
  gap: 18px;
}
.icon-item {
}
.icon-link {
  display: block;
  fill: none;
  stroke: #111111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 0;
}
.icon-link:hover,
.icon-link:focus {
  stroke: #fd9222;
}
.header-icon {
}
.header-cont {
  display: flex;
  align-items: center;
}
.logo-style {
  font-style: italic;
}
.nav-list {
  display: flex;
  gap: 24px;
}
.nav-item {
  color: #111;
}
/* .nav-item-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
} */
.nav-item-link-header:hover,
.nav-item-link-header:focus {
  color: #fd9222;
}
/* #endregion */

/* #region Hero */
.hero {
  padding-bottom: 72px;
}
.hero .container {
  background-color: #1e1823;
  padding-top: 375px;
  padding-bottom: 72px;
  padding-left: 72px;
  padding-right: 72px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../icon/chocolate/chocolate-covered.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.hero-title {
  width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}
.btn-cont-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  margin-right: 14px;
  padding: 14px 40px;
  border-radius: 100px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.hero-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid #fff;
  border-radius: 100px;
  margin-right: auto;
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}
.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: #fd9222;
}
/* #endregion */
/*  */
/* #region Benefits */
.benefits-container-icon {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}
.benefits-icon {
}
.benefits {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.benefits-title {
}
.benefits-list {
  color: #ffffff;
  display: flex;
  gap: 70px;
}
.benefits-list-item {
  width: 308px;
}
.benefits-list-item.current {
  position: relative;
}
.benefits-list-item.current:not(:last-child)::after {
  content: '';
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 50%;
  transform: translateY(-50%);
  top: 50%;
  right: -18px;
}

.benefits-list-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
}
.benefits-list-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion */
/*  */
/* #region Ingredients */
.ingredients {
  padding-top: 100px;
  padding-bottom: 100px;
}
.taste {
  color: #fd9222;
}
.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  width: 411px;
  margin: 0 auto 48px;
}
.ingredients-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  width: 486px;
  margin: 0 auto 50px;
}
.ingredients-list {
  display: flex;
  text-align: center;
  gap: 19px;
}
.overlay-title {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  /* padding-left: 20px; */
  padding-bottom: 20px;
}
.overlay-block-one {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  border-radius: 35px;
  padding: 6px 16px;
  width: 81px;
  height: 24px;
  background-color: #fd9222;
}
.overlay-block-two {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  width: 93px;
  height: 24px;
  background-color: #fafafa;
}
.overlay-main-text {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  width: 230px;
}
.overlay-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 18px;
  gap: 6px;
}
.overlay {
  display: block;
  color: #111;
  width: 270px;
  padding: 14px 20px 20px 20px;
  background-color: #ffffff;
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-link:hover .overlay,
.overlay-link:focus .overlay {
  transform: translateY(0);
}
.ingredients-item {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: 1px solid #fd9222;
  padding: 32px 28px;
  color: #ffffff;
}
.ingredients-item:nth-child(4n + 1) {
  color: #ffffff;
  background-color: #fd9222;
}
.ingredients-item:nth-child(even) {
  background-color: #ffffff;
}
.ingredients-item:nth-child(4n-1) {
  color: #ffffff;
  background-color: #1e1823;
  border-color: #1e1823;
}
.ingredients-item img {
  margin-bottom: 32px;
}
.ingredients-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
/* #endregion */
/*  */
/* #region HOW */
.how {
  padding-bottom: 100px;
}
.how-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  padding-bottom: 50px;
}
.how-made-content-wrapper {
  display: flex;
  gap: 20px;
}
.how-made-text-wrapper {
  padding: 32px;
}
.how-made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
  width: 350px;
}
.how-made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-made-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111;
  padding-right: 27px;
}
/* #endregion */
/*  */
/* #region Reviews */
.reviews {
  margin-bottom: 100px;
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 50px;
}
.reviews-list {
  display: flex;
  gap: 28px;
}

.reviews-item {
  padding: 24px;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
}
.reviews-item img {
  margin: 0 auto 18px;
}
.reviews-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}
.reviews-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: block;
}
.reviews-btn:hover {
  color: #fff;
  background: #fd9222;
}
/*#endregion  */
/* #region Footer */
.footer {
  background-color: #1e1823;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
}
.page-footer-top-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.page-footer-bottom-block {
  padding-top: 24px;
}
.page-navigation {
  display: flex;
  column-gap: 24px;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}
.footer-addr {
  font-style: normal;
}
.addr-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
  margin-bottom: 14px;
}
.addr-list {
}
.addr-item:not(:last-child) {
  margin-bottom: 4px;
}
.addr-item {
}
.addr-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #ffffff;
}
.addr-link:hover,
.addr-link:focus {
  color: #fd9222;
}
.nav-list {
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: #fd9222;
}
.nav-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* #endregion */
